        * {
            margin: 0;
            text-decoration: none;
            list-style: none;
            padding: 0;
            font-family: 'Oswald', sans-serif;
        }

        body {
            font-family: sans-serif;
        }

        header {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: black;
        }

        .larguraPadrao {
            max-width: 1440px;
        }

        nav {
            background: black;
            height: 200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        #navPrincipal {
            display: flex;
            flex-direction: row;
            align-items: center;
            /*Eixo Y */
            justify-content: space-between;
            width: 100%;
        }

        #navImg {
            width: 100px;
        }

        #navPrincipal img {
            max-width: 200px;
            max-height: 150px;
            width: auto;
            height: auto;
        }

        #navSearch input {
            width: 35vw;
            height: 40px;
            border-radius: 10px;
            padding-left: 10px;
        }

        #navButtons {
            width: 100px;
        }

        #navButtons i,
        #navButtons p {
            font-size: 20px;
            color: white;
        }

        #navButtons i {
            font-size: 30px;
        }

        #navButtons button {
            border: 0px;
            background-color: black;
        }

        nav ul li a {
            color: white;
            font-size: 18px;
            padding: 31px 25px;
            text-transform: uppercase;
            text-decoration: none;

        }

        nav ul li a:hover {
            color: lightgrey;
        }

        nav ul {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        #navLinks {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }


        .imagemCarrossel {
            max-height: 400px;
            object-fit: contain;

        }

        .fundoCarrossel {
            background-color: rgba(red, green, blue, alpha);
        }

        .divisaoDunk {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .geralDunk {
            max-width: 1440px;
            width: 100%;
            display: flex;
            text-align: start;
            justify-content: start;
            align-items: flex-start;
            margin-top: 100px;
        }

        .infoDunk h2 {
            font-size: 36px;
        }

        .infoDunk p {
            font-size: 20px;
            text-align: justify;
            max-width: 600px;
            min-width: 600px;
            font-weight: 300;
        }

        .carrossel {
            display: flex;
            flex-direction: row;
            justify-content: end;
            align-items: flex-end;
            margin-left: 300px;

            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;



        }

        .imagemCarrosselDunk {
            width: 500px;
            height: 500px;
        }

        .imagemCarrosselDunk img {
            height: 500px;
            width: 500px;

        }

        .rodape {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .rodapeUm {
            max-width: 1440px;
            width: 100%;
            display: flex;
            text-align: start;
            justify-content: space-between;
            align-items: flex-start;


        }

        .sobreGrmt p {
            font-size: 16px;

        }

        .infoLojas {
           display: flex;
           align-items: center;
           flex-direction: column;
           justify-content: center;
        }

        .infoLojas h5 {
            justify-content: start;
            color: white;
        }

        .infoLojas img {
            width: 120px;

        }

        footer {
            display: flex;
            margin-top: 70px;
            background-color: black;
            width: 100%;
            height: 350px;
        }

        .sobreGrmt img {
            width: 142px;
            height: 145px;
        }

        footer p {
            color: white;
            width: 250px;
        }

        .infoGrmt, .sobreGrmt, .infoLojas{
            width: 250px;

        }